/*button {
    width: 98%;
    height: 40px;
    text-align: center;
}*/


#btnCollecterDonnees /*Pour le rendre circulaire*/{
    width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    /*line-height: 100px;*/
}

#btnCollecterDonnees span span {
    height: 100px !important;
    line-height: 70px;
}
/*this place used graphic for battry status and signal this width and height*/
#graphics{
    width: 100%;
    height: 60%;
}
#cercleIndicor{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}