/*button {
    width: 98%;
    height: 40px;
    text-align: center;
}*/


#btnCollecterDonnees /*Pour le rendre circulaire*/{
    width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    /*line-height: 100px;*/
}

#btnCollecterDonnees span span {
    height: 100px !important;
    line-height: 70px;
}
/*this place used graphic for battry status and signal this width and height*/
#graphics{
    width: 100%;
    height: 60%;
}
/*it's the container of the cercleIndicator
this div element help to make easelly style on the cercleIndicators*/
#containerCercleIndicator{
    width: 40% !important;
    height:  15% !important;
    margin-left: auto;
    margin-right: auto;
}
/*the cerccleindicator element for displaying the chart circle on the view
elements*/
#cercleIndicor{
    width: auto;
    height: auto;
}